.DS_Store
*.orig
/CubeTime.xcodeproj/xcuserdata
/CubeTime.xcodeproj/project.xcworkspace/xcuserdata
/CubeTime.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved # Conflicts between xcode versions
/CubeTime/3rdparty
